.invalid-feedback {
  display: block;
}

.winner {
  font-weight: bold;
}

.accordion-button {
  background-color: #ddd;
}

.match-list {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.match-list th {
  padding-right: 10px;
}

.match-list td {
  padding-right: 10px;
}

.player-list-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.player-item {
  order: 1;
}

.player-item.btn {
  order: 0;
}

form.player-item{
  order: 0;
  max-height: 30px;
}

.add-player-inputs {
  width: auto;
}

.add-player-inputs form input {
  min-width: 80px;
  max-width: 100px;
}

.accordion-header button .btn {
  margin-left: 20px;
}

.match-type { grid-area: match-type }
.match-date { grid-area: match-date }
.player-1 { grid-area: player-1; }
.player-2 { grid-area: player-2; }
.score-1-1 { grid-area: score-1-1; }
.score-2-1 { grid-area: score-2-1; }
.score-3-1 { grid-area: score-3-1; }
.score-1-2 { grid-area: score-1-2; }
.score-2-2 { grid-area: score-2-2; }
.score-3-2 { grid-area: score-3-2; }
.match-vs { grid-area: match-vs; }
.sep-1 {grid-area: sep-1; }
.sep-2 {grid-area: sep-2; }
.sep-3 {grid-area: sep-3; }

.match-grid {
  display: grid;
  grid-template-areas:
    "match-type . match-date match-date"
    "player-1 match-vs player-2 . "
    "score-1-1 sep-1 score-1-2 . "
    "score-2-1 sep-2 score-2-2 . "
    "score-3-1 sep-3 score-3-2 . ";
  grid-template-columns: 250px 30px 250px auto;
  margin-bottom: 20px;
  grid-row-gap: 10px;
}

.match-input {
  max-width: 280px;
}

.score-input {
  max-width: 130px;
  min-width: 80px;
}

.score-vs {
  max-width: 20px;
  text-align: center;
  padding-top: 15px;
}

.player-vs{
  text-align: center;
}
