/*
 * ## General purpose layout
 */

.section-title, .panel-title {
  padding-left: 0px;
}

.season-panel {
  padding-top: 10px;
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-left: calc(-.5 * var(--bs-gutter-x));
  margin-right: calc(.5 * var(--bs-gutter-x));
}

.season-panel ul.list-group-flush {
  padding-left: 0px;
}

.season-section {
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media only screen and (max-width: 568px) {
  .season-section, #season-header {
    margin-left: 0px;
  }
}

/*
 * ## Displaying Action Buttons
 */

.action-grid {
  display: grid;
  gap: 1rem 1rem;
  padding: 0rem 0rem 1rem 0rem;
  grid-auto-flow: row;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px;
}

.action-grid .btn.action i {
  font-size: 24pt;
}

.action-grid .btn.action {
  font-size: 10pt;
  line-height: normal;
}

@media only screen and (max-width: 991px) {
  [class="action-grid"] {
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
  }
}

@media only screen and (max-width: 768px) {
  [class="action-grid"] {
    grid-template-columns: 100px 100px 100px 100px;
  }
}

@media only screen and (max-width: 512px) {
  [class="action-grid"] {
    grid-template-columns: 100px 100px 100px;
  }
}

@media only screen and (max-width: 370px) {
  [class="action-grid"] {
    grid-template-columns: 100px 100px;
  }
}

.even {
  background-color: #dfeeff;
}

.odd {
  background-color: #f0f5ff;
}

/*
 * ## Displaying Matches
 */

.matchlist {
  min-width: 220px;
  padding-left: inherit;
}

.statlist {
  min-width: 80px;
  margin-left: calc(.5 * var(--bs-gutter-x));
}

.match {
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding-right: 10px;
  text-decoration: inherit;
  color: inherit;
}

.stat {
  padding-top: 4px;
  padding-bottom: 4px;
}

.stat-player {
  font-size: x-large;
  font-weight: bold;
}

.stat-name {
  text-decoration: none;
  font-weight: bold;
}

.match-player {
}

.match-winner {
  font-weight: bold;
}

.match-data {
  text-decoration: none;
  color: black;
}

.match-h2h {
  border-radius: 4px;
  border-left: solid 1px;
  border-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  color: blue;
}

.match-score {
  min-width: 2rem;
  text-align: right;
  padding-left: .5rem;
  padding-right: .5rem;
}

/*
 * ## Form helper layouts
 */

.invalid-feedback {
  display: block;
}

.asteriskField {
  display: none;
}

.form-control .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0px;
}

.form-control .select2-container--default .select2-selection--single {
  border: none;
}

/*
 * ### Match forms
 */


.match-input {
  max-width: 280px;
}

.score-input {
  max-width: 130px;
  min-width: 80px;
}

.score-vs {
  max-width: 20px;
  text-align: center;
  padding-top: 15px;
}

.player-vs{
  text-align: center;
}
