{% extends "ligapp/season_base.html" %}
{% load l10n %}

{% block season_content %}

{% if season.planned_matches %}
<div class="row row-cols-auto season-section" id="season-pending">
  <div class="col season-panel flex-fill" id="season-planned-matches">
  <h4 class="panel-title">Planned Matches</h4><hr>
    {% with matches_by_date=season.planned_matches %}
    {% include "ligapp/season/matches.html" %}
    {% endwith %}
  </div>
</div>
{% endif %}

<div class="row row-cols-auto season-section" id="season-overview">

  <div class="col season-panel flex-fill" id="season-latest-matches">
    <h4 class="panel-title">Latest Matches</h4><hr>
    {% with matches_by_date=season.latest_matches %}
    {% include "ligapp/season/matches.html" %}
    {% endwith %}
  </div>

  <div class="col season-panel flex-fill" id="season-ranking">
    <h4 class="panel-title">Ranking Top 16</h4><hr>
    {% with ranking=season.top_16 %}
    {% include "ligapp/season/ranking.html" %}
    {% endwith %}
  </div>
</div>

{% endblock %}
